// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match app-id="firefox"
    match app-id="code"
    match app-id="dev.zed.Zed"
    open-maximized-to-edges true
}

window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="com.saivert.pwvucontrol"
    match app-id="Alacritty" title="Updater"
    match app-id="Alacritty" title="nmtui"
    match app-id="Alacritty" title="Wallpaper Selector"
    open-floating true
    shadow {
        on
    }
}
