// background for workspace and backdrop
spawn-sh-at-startup "swww-daemon & swww img $NIRICONF/wallpapers/backdrop.png"
spawn-sh-at-startup "swaybg -i $NIRICONF/wallpapers/workspace.png -m fill -c '#010102'"
layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}
